<aside>
    <div class="side-header">
        <span class="material-symbols-outlined">dashboard</span>
        <div class="logo-text">
            <h3>TASK-DASH</h3>
            <p>Task Manager</p>
        </div>
    </div>

    <hr>

    <div class="side-options">
        <div class="top-options">
            <a routerLink="/Dashboard" routerLinkActive="active-link" class="side-option">
                <span class="material-symbols-rounded">grid_view</span>
                <p>Dashboard</p>
            </a>
    
            <a routerLink="/Deleted" routerLinkActive="active-link" class="side-option">
                <span class="material-symbols-rounded">delete</span>
                <p>Recently Deleted</p>
            </a>
    
            <a href="https://github.com/265mph/task-management-dashboard" target="_blank" class="side-option">
                <span class="material-symbols-rounded">code</span>
                <p>Link to Code</p>
            </a>
        </div>

        <div class="bottom-option">
            <a id="create-task" (click)="showModal()">
                <span class="material-symbols-rounded">edit_square</span>
                <p>Create new Task</p>
            </a>
        </div>
    </div>
</aside>
