<aside>
    <div class="side-header">
        <div class="logo">
            <h3>TASK-DASH</h3>
            <span class="material-symbols-rounded">task_alt</span>
        </div>
        <p>Task Manager</p>
    </div>

    <hr>

    <div class="side-options">
        <div class="top-options">
            <a class="side-option">
                <span class="material-symbols-rounded">grid_view</span>
                <p>Dashboard</p>
            </a>
    
            <a class="side-option">
                <span class="material-symbols-rounded">delete</span>
                <p>Recently Deleted</p>
            </a>
    
            <a class="side-option">
                <span class="material-symbols-rounded">code</span>
                <p>Link to Code</p>
            </a>
        </div>

        <div class="bottom-option">
            <a class="side-option">
                <span class="material-symbols-rounded">logout</span>
                <p>Log Out</p>
            </a>
        </div>
    </div>
</aside>
