<app-header></app-header>

<div class="my-tasks">
    <h3 style="margin-bottom: .8rem; font-weight: 500;">DELETED TASKS</h3>
    <div class="tasks">
        <ul *ngFor="let deleted of deletedTasks">
            <li class="single-task">
                <div class="task-infos">
                    <p id="task">{{ deleted.task }}</p>
                    <p id="desc">{{ deleted.desc }}</p>
                </div>
                <div class="task-options">
                    <span class="material-symbols-rounded" (click)="showTaskOptions(deleted)">more_horiz</span>
                    <div class="options-actions" *ngIf="selectedTask === deleted">
                        <ul>
                            <li (click)="deleteTask(deleted.id)">delete task</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
